.DS_Store

##################################################
### Server
auto_setup/im_server/

##################################################
### Server
server/im-server-*.tar.gz
server/**/CMakeFiles/**
server/**/CMakeCache.txt
server/src/log4cxx/

##################################################
### iOS
ios/Pods/

ios/libsecurity/

ios/**/xcuserdata/**

ios/*/xcuserdata/**
ios/*/xcuserdata/*