.DS_Store
.vscode/

##################################################
### pb
pb/gen

##################################################
### Server
auto_setup/im_server/

##################################################
### Server
server/im-server-*.tar.gz
server/**/CMakeFiles/**
server/**/CMakeCache.txt

server/run/db_proxy_server/db_proxy_server
server/run/file_server/file_server
server/run/http_msg_server/http_msg_server
server/run/login_server/login_server
server/run/msfs/msfs
server/run/msg_server/msg_server
server/run/push_server/push_server
server/run/route_server/route_server

server/src/log4cxx/

server/protobuf/**/*.tar.gz

server/src/lib/libbase.a

server/src/base/libbase.a

server/src/db_proxy_server/db_proxy_server
server/src/file_server/file_server
server/src/http_msg_server/http_msg_server
server/src/login_server/login_server
server/src/msg_server/msg_server
server/src/push_server/push_server
server/src/route_server/route_server
server/src/msfs/msfs

server/src/base/pb/

server/src/db_proxy_server/log/
server/src/file_server/log/
server/src/http_msg_server/log/
server/src/login_server/log/
server/src/msg_server/log/
server/src/push_server/log/
server/src/route_server/log/
server/src/msfs/log/

server/src/db_proxy_server/*.pid
server/src/file_server/*.pid
server/src/http_msg_server/*.pid
server/src/login_server/*.pid
server/src/msg_server/*.pid
server/src/push_server/*.pid
server/src/route_server/*.pid
server/src/msfs/*.pid

##################################################
### iOS
ios/libsecurity/

ios/Pods/
ios/Pods/**

ios/**/xcuserdata/**

ios/*/xcuserdata/**
ios/*/xcuserdata/*